js-project/node_modules
js-project/.env
js-project/saida.txt
js-project/.DS_Store
js-project/users.db
js-project/data
js-project/config/global-config.prod.json
js-project/output

typescript-project/node_modules
typescript-project/.env
typescript-project/saida.txt
typescript-project/.DS_Store
typescript-project/users.db
typescript-project/data
typescript-project/config/global-config.prod.json
typescript-project/output